---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="A* Pathfinding Post">
    <main>
		<h1>Implementing <span class="text-gradient">A*</span></h1>
		<p>Check out the demo <a href="/works/A-star" style="color:red"">here</a></p>
        <p>
            Coming soon.
        </p>
    </main>
</Layout>
<style>
  	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 90ch;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 300%;
		background-position: 0%;
	}
</style>